Field Hunt/src/flows/Create_Allocation_for_Website_Payments-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <constants>
        <name>conNumberZero</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>conTextOne</name>
        <dataType>String</dataType>
        <value>
            <stringValue>1</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Parent_Payment_Exists</name>
        <label>Parent Payment Exists</label>
        <locationX>318</locationX>
        <locationY>12</locationY>
        <defaultConnector>
            <targetReference>Create_Allocation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Parent_Payment_Doesn_t_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varParentPaymentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Parent_Payment</targetReference>
            </connector>
            <label>Parent Payment Doesn&apos;t Exists</label>
        </rules>
    </decisions>
    <interviewLabel>Create Allocation for Website Payments {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Allocation for Website Payments</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Allocation</name>
        <label>Create Allocation</label>
        <locationX>593</locationX>
        <locationY>15</locationY>
        <inputAssignments>
            <field>gf_pp__Amount__c</field>
            <value>
                <elementReference>varAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>gf_pp__Check_Reference_Number__c</field>
            <value>
                <elementReference>varCheckReference</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>gf_pp__Opportunity__c</field>
            <value>
                <elementReference>varOpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>gf_pp__Parent_Payment__c</field>
            <value>
                <elementReference>varParentPaymentId</elementReference>
            </value>
        </inputAssignments>
        <object>gf_pp__Allocation__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Parent_Payment</name>
        <label>Create Parent Payment</label>
        <locationX>329</locationX>
        <locationY>238</locationY>
        <connector>
            <targetReference>Create_Allocation</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>conTextOne</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>gf_pp__Payment_Amount__c</field>
            <value>
                <elementReference>conNumberZero</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>gf_pp__Payment_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>gf_pp__Payment_Method__c</field>
            <value>
                <stringValue>Credit Card Authorize.net</stringValue>
            </value>
        </inputAssignments>
        <object>gf_pp__Parent_Payment__c</object>
    </recordCreates>
    <recordLookups>
        <name>Look_Up_Parent_Payment</name>
        <label>Look Up Parent Payment</label>
        <locationX>77</locationX>
        <locationY>19</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Parent_Payment_Exists</targetReference>
        </connector>
        <filters>
            <field>gf_pp__Payment_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>gf_pp__Payment_Method__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Credit Card Authorize.net</stringValue>
            </value>
        </filters>
        <object>gf_pp__Parent_Payment__c</object>
        <outputAssignments>
            <assignToReference>varParentPaymentId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Look_Up_Parent_Payment</startElementReference>
    <variables>
        <name>varAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varCheckReference</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varParentPaymentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
