Field Hunt/src/flows/Create_Payment_for_MGO_payments_from_the_website-3.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Error_Email_No_Parent_Payment</name>
        <label>Error Email No Parent Payment</label>
        <locationX>723</locationX>
        <locationY>153</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>NoDepositBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>NoDepositSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>info@mcf.org</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <constants>
        <name>conNumberZero</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>conTextOne</name>
        <dataType>String</dataType>
        <value>
            <stringValue>1</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Deposit_Exists</name>
        <label>Deposit Exists</label>
        <locationX>247</locationX>
        <locationY>17</locationY>
        <defaultConnector>
            <targetReference>Create_Payment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Deposit_Doesn_t_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varDepositId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Deposit</targetReference>
            </connector>
            <label>Deposit Doesn&apos;t Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Deposit_Exists_0</name>
        <label>Deposit Exists</label>
        <locationX>423</locationX>
        <locationY>150</locationY>
        <defaultConnector>
            <targetReference>Create_Payment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Deposit_Doesn_t_Exists_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varDepositId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Email_No_Parent_Payment</targetReference>
            </connector>
            <label>Deposit Doesn&apos;t Exists</label>
        </rules>
    </decisions>
    <interviewLabel>Create Payment for MGO Payments from the website {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Payment for MGO payments from the website</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Deposit</name>
        <label>Create Deposit</label>
        <locationX>244</locationX>
        <locationY>150</locationY>
        <assignRecordIdToReference>varDepositId</assignRecordIdToReference>
        <connector>
            <targetReference>Deposit_Exists_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Deposit_Amount__c</field>
            <value>
                <elementReference>conNumberZero</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deposit_Date__c</field>
            <value>
                <elementReference>varClosedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>conTextOne</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Method__c</field>
            <value>
                <stringValue>Credit Card Paypal Deposit</stringValue>
            </value>
        </inputAssignments>
        <object>Deposit__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Payment</name>
        <label>Create Payment</label>
        <locationX>590</locationX>
        <locationY>20</locationY>
        <inputAssignments>
            <field>Deposit__c</field>
            <value>
                <elementReference>varDepositId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__Opportunity__c</field>
            <value>
                <elementReference>varOpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__Paid__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__Payment_Amount__c</field>
            <value>
                <elementReference>varAmount</elementReference>
            </value>
        </inputAssignments>
        <object>npe01__OppPayment__c</object>
    </recordCreates>
    <recordLookups>
        <name>Look_Up_Deposit</name>
        <label>Look Up Deposit</label>
        <locationX>72</locationX>
        <locationY>19</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Deposit_Exists</targetReference>
        </connector>
        <filters>
            <field>Deposit_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varClosedDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Payment_Method__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Credit Card Paypal Deposit</stringValue>
            </value>
        </filters>
        <object>Deposit__c</object>
        <outputAssignments>
            <assignToReference>varDepositId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Look_Up_Deposit</startElementReference>
    <textTemplates>
        <description>Email body to send if no Parent Payment exists or was created</description>
        <name>NoDepositBody</name>
        <text>Flow Create Allocation for MGO Payments failed.

The Deposot did not exist, and was not created.

Variables:
Amount - {!varAmount}
Check Reference - {!varCheckReference}
Opportunity ID - {!varOpportunityId}
Deposit - {!varDepositId}</text>
    </textTemplates>
    <textTemplates>
        <description>Subect link for error email when there is no Parent Payment</description>
        <name>NoDepositSubject</name>
        <text>Flow Error - Create Allocation for MGO Payments</text>
    </textTemplates>
    <variables>
        <name>varAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varCheckReference</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varClosedDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varDepositId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
