Field Hunt/src/flows/Opportunity_Event_Amount_should_equal_Reg_Total-3.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_No_Event_Registrations</name>
        <label>Send Email No Event Registrations</label>
        <locationX>589</locationX>
        <locationY>205</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBodyNoEventRegistrations</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubjectNoEventRegistrations</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>info@mcf.org</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_No_Opportunity</name>
        <label>Send Email No Opportunity</label>
        <locationX>616</locationX>
        <locationY>5</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBodyNoOpp</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubjectNoOpportunity</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>info@mcf.org</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Add_Fee_to_Amount_Total</name>
        <label>Add Fee to Amount Total</label>
        <locationX>489</locationX>
        <locationY>330</locationY>
        <assignmentItems>
            <assignToReference>varAmountTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varCurrentLoopItemFee.gf_sf__Fee__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_there_Campaign_Members</name>
        <label>Are there Campaign Members?</label>
        <locationX>252</locationX>
        <locationY>212</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>No_Campaign_Members</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>collEventRegistrationFees</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_No_Event_Registrations</targetReference>
            </connector>
            <label>No Campaign Members</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_an_Opportunity</name>
        <label>Is there an Opportunity?</label>
        <locationX>256</locationX>
        <locationY>5</locationY>
        <defaultConnector>
            <targetReference>Look_Up_All_Event_Registrations_for_this_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>No_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOpportunityID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_No_Opportunity</targetReference>
            </connector>
            <label>No Opportunity</label>
        </rules>
    </decisions>
    <description>The Amount field on Event Opportunities should equal the total of all the registration fees for the people registered under that Opportunity.</description>
    <interviewLabel>Opportunity [Event] - Amount should equal Reg Total {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity [Event] - Amount should equal Reg Total</label>
    <loops>
        <name>Loop_Through_Collection</name>
        <label>Loop Through Collection</label>
        <locationX>248</locationX>
        <locationY>319</locationY>
        <assignNextValueToReference>varCurrentLoopItemFee</assignNextValueToReference>
        <collectionReference>collEventRegistrationFees</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Fee_to_Amount_Total</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Amount_on_Opportunity</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Look_Up_All_Event_Registrations_for_this_Opportunity</name>
        <label>Look Up All Event Registrations for this Opportunity</label>
        <locationX>255</locationX>
        <locationY>117</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_there_Campaign_Members</targetReference>
        </connector>
        <filters>
            <field>gf_sf__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpportunityID</elementReference>
            </value>
        </filters>
        <object>CampaignMember</object>
        <outputReference>collEventRegistrationFees</outputReference>
        <queriedFields>gf_sf__Fee__c</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Amount_on_Opportunity</name>
        <label>Update Amount on Opportunity</label>
        <locationX>245</locationX>
        <locationY>492</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpportunityID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>varAmountTotal</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <startElementReference>Is_there_an_Opportunity</startElementReference>
    <textTemplates>
        <name>EmailBodyNoEventRegistrations</name>
        <text>A flow (Opportunity[Event] - Amount should be equal to Reg Total) failed to initiate because there were no Event Registrations tied to the Opportunity.

{!varOpportunityID}</text>
    </textTemplates>
    <textTemplates>
        <name>EmailBodyNoOpp</name>
        <text>The flow &quot;Opportunity Event - Amount Equals Reg Totals&quot; failed to run because no Opportunity was selected.

{!varOpportunityID}</text>
    </textTemplates>
    <textTemplates>
        <name>EmailSubjectNoEventRegistrations</name>
        <text>Flow Failed - No Event Registrations</text>
    </textTemplates>
    <textTemplates>
        <name>EmailSubjectNoOpportunity</name>
        <text>A Flow failed to run (Opportunity [Event] - Amount should be equal to Reg Total).</text>
    </textTemplates>
    <variables>
        <name>collEventRegistrationFees</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>varAmountTotal</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varCurrentLoopItemFee</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>varOpportunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
